{% extends 'base.html' %}


{% block title %}
Update post
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Update post</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="form-control" value="{{ post.title }}" placeholder="Enter a title - 100 characters"><br>
            <textarea name="intro" id="intro" class="form-control" placeholder="Enter a brief intro - 300 characters">{{ post.intro }}</textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Enter a text - without limits" rows="6">{{ post.text }}</textarea><br>
            <input type="submit" class="btn btn-success" value="Update post">
        </form>
    </div>
{% endblock %}